.total-event-details-view {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 50px;
    box-shadow: 0px 0px 10px rgb(230 230 230);
}

.event-description, .event-links {
    padding: 20px 30px;
}

.event-description-title {
    margin-top: 0px;
}

.event-description div h1 {
    margin-top: 0;
}

.event-links {
    padding-top: 70px;
    padding-left: 5%;
}

.registration-button {
    background-color: #317fbb;
    border: none;
    color:white;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    padding: 6px 25px;
    transition: 0.3s;
}

.added-detail {
    color: #317fbb;
    font-style: italic;
    text-decoration: none;
}

p {
    cursor: default;
}

.group-of-social-media {
    display:flex;
    justify-content: center;
}

.social-media-icon {
    background-color: #317fbb;
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    margin: 0px 10px;
    transition: 0.3s;
}

.social-media-icon:hover {
    background-color: #245b85;
    cursor: pointer;
}

.registration-button:hover {
    background-color: #245b85;
}

.social-media-icon a {
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.button-row {
    display:flex;
}

.button-row button {
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    .total-event-details-view {
        display: block;
    }

    .event-links {
        padding-left: 0px;
        padding-top: 30px;
    }

    .event-links button {
        margin-bottom: 20px;
    }

    .event-links {
        padding: 30px;
    }
}