article {
  display:grid;
  grid-template-rows: 1fr 50px;
  margin: 60px 50px;
  box-shadow: 0px 0px 10px rgb(230 230 230);
}

.event-description-title a {
  color:black;
  text-decoration: none;
  transition: 0.3s;
}

.event-description-title a:hover {
  color: #317fbb;
}

.all-event-details {
  display:grid;
  grid-template-columns: 70% 30%;
}

.event-details {
  border-left: 0.5px solid #e2e2e2;
  padding-top: 15px;
}

.events-buttons-row {
  border-top: 0.5px solid #e2e2e2;
  border-bottom: 0.5px solid #e2e2e2;
  background-color: rgb(232, 232, 232);
  height: 50px;
  display: grid;
  grid-template-columns: 70% 30%;
}

.events-buttons-row div {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.events-buttons-row div div button {
  width: 150px;
  margin: 10px;
  color: black;
  background-color:white;
  border: 1px solid lightgray;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}

.events-buttons-row div div button:hover {
  background-color: #317fbb;
  color: white;
}

.events-buttons-row div {
  display: flex;
}

.event-description {
  padding: 0px 25px;
}

.detail {
  padding: 10px 10px 0px 15%;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

.share-btn {
  width: 60px !important;
}

.share-btn-container {
  margin-left: auto;
}

p {
  cursor:default;
}

.location {
  padding-top: 0px;
  font-weight: 100;
  font-size: 13px;

}

@media only screen and (max-width: 600px) {

  .all-event-details {
    display:block;
  }

  .event-details {
    border-left:none;
    border-top: 1px solid black;
  }

  .detail {
    padding: 5px 10px 0px 30px;
    font-weight: bold;
  }

  article {
    display:block;
  }

  .events-buttons-row div div a {
    height: 30px;
    width: 100px;
    margin: 10px;
  }
}
