/* Article List */

.page-title {
  text-align: center;
  font-size: 45px;
}

.loading-screen {
  text-align: center;
  font-style: italic;
}

.searchbar-container {
  display:flex;
  justify-content: center;  
}

.searchbar-form {
  background-color: #f0f0f0;
  border: 1px solid #e1e1e1;
  width: 100%;
  padding: 20px;
  margin: 0px 40px 0px 40px;
  display: flex;
  justify-content: center;
}

.searchbar-input {
  border:none;
  background-color: white;
  font-size: 18px;
  padding: 5px;
  width: 70%;
  margin: 0px 10px;
}

.searchbar-input:focus {
  outline: none;
}

.searchbar-button {
  background-color: #317fbb;
  color: white;
  border: none;
  padding: 0px 9px;
}

.articleStyle-article {
  margin: 40px 40px;
  border: 1px solid #e1e1e1;
}

.articleStyle-iconBar {
  color: #317fbb;
}

.articleStyle-allEventsDetails {
  display: grid;
  grid-template-columns: 80% 20%;
}

.articleStyle-eventDescription {
  padding: 0px 20px;
  border-right: 1px solid #e1e1e1;
}

.articleStyle-eventHeader {
  margin-bottom: 0px;
}

.articleStyle-eventDescriptionTitle {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 35px;
}

.articleStyle-eventTitleCity {
  font-weight: 200;
}

.articleStyle-eventDescriptionText {
  font-size: 14px;
}

.articleStyle-eventType {
  margin-left: -7px;
  padding-left: 6px;
  margin-top: 4px;
  font-size: 18px;
  color: #317fbb;
  border-left: 2px solid #317fbb;
}

.articleStyle-eventDetailsSidebar {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: 35px 30px 1fr;
  font-size: 18px;
  padding: 20px 20px;
}

.articleStyle-iconBar {
  margin-top: 10px;
}

.articleStyle-eventDetailsDate {
  font-size: 20px;
  margin-top: 10px;
}

.articleStyle-eventDetailsTime {
  padding-bottom: 0;
  font-size: 14px;
}

.articleStyle-eventDetailsLocation {
  font-size: 12px;
  line-height: 18px;
}
.articleStyle-activeEventsButtonsRow {
  display:flex;
}

.articleStyle-eventButtonsRow {
  background-color: #f0f0f0;
  display: flex;
}

.articleStyle-eventButtonsRow {
  display: flex;
}

.article-Style-button-share {
  margin-left: auto;
}

.articleStyle-button {
  background-color: white;
  border: 0;
  padding: 12px 15px;
  margin: 10px 10px;
  color: black;
  display: block;
  border-radius: 3;
  transition: 0.3s;
}

.articleStyle-button:hover {
  background-color: #317fbb;
  color:white !important;
}

svg {
  font-size: 25px;
}

.modalStyle-specializedDetails {
  padding-right: 20px;
}

.modalSyte-svgBox {
  display:flex;
  justify-content: center;
  align-items: center;
}

.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 0.7em;
  margin-right: 5px;
  vertical-align: -0.125em;
}

.modalStyle-svgIcons {
  height: 35px;
  margin: 5px;
  color: lightgray;
}

@media only screen and (max-width: 850px) {
  .articleStyle-eventDetailsSidebar {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 45px 40px 1fr;
    font-size: 18px;
    padding: 20px 20px;
  }
}

/* Modal */

.modalStyle-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
}

.modalStyle-modalReal {
  background-color: white;
  margin: 50px;
  box-shadow: 0px 0px 10px 0px #504e4e;
  padding: 20px;
}

.modalStyle-totalEventDetails {
  display: grid;
  grid-template-columns: 70% 30%;
}

.modalStyle-mainTitle {
  margin-top: 0px;
}

.modalStyle-infoBox {
  background-color: rgb(238, 238, 238);
  padding: 10px 20px;
  margin-bottom: 10px;
}

.modalStyle-infoBoxTitle {
  margin-top: 3px; 
  margin-bottom: 3px;
}

.modalStyle-infoBoxText {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 12px;
}

.modalStyle-buttonRow {
  display: flex;
  margin-top: 30px;
}

.modalStyle-preferredButton {
  background-color: #317fbb;
  border:none;
  color: white;
  padding: 10px 20px;
  margin-right: 5px;
}

.modalStyle-whiteButton {
  background-color: #24618f;
  border:none;
  color: white;
  padding: 10px 20px;
  margin-right: 5px;
}

.modalStyle-closeButton {
  margin-left: auto;
  background-color: white;
  padding: 0px 12px;
  border: none;
  height: 32px;
}

.fa-circle-xmark {
  font-size: 25px;
  color: black;
}

.modalStyle-buttonRow a {
  text-decoration: none;
}

.closeButton {
  height: 35px;
}

.modalStyle-contactUs {
  color: #317fbb;
}

.modalStyle-subText {
  margin: 5px 0px;
}

@media only screen and (max-width: 600px) {

  .articleStyle-allEventsDetails {
    display: block;
  }

  .page-title {
    text-align: center;
    font-size: 35px;
    margin: 20px;
  }

  .modalStyle-totalEventDetails {
    display: block;
  }

  
  .modalStyle-closeButton {
    display:none;
  }

}

